[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule ".vim/bundle/vimfugitive"]
	path = .vim/bundle/vimfugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown.git
